body {
    background-color: #808080;
}

.progress {
    background: rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
}

.progress-value {
    animation: load 5s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #A50C0E 0%, #180BD6 74%);
    height: 30px;
    width: 0;
}

@keyframes load {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}